.Referrel {
  background-color: #f9faf9;
  width: 100%;
  min-height: 420px;
  font-family: inherit;
}

@media (min-width: 992px) {
  .offer-card {
    min-width: 470px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .offer-card {
    min-width: 350px;
  }
  .avail-btn{
    margin-top: 10px !important;
  }
}
@media (max-width: 767px) {
  .offer-card {
    min-width: 100%;
  }
  .arrow-left1{
    left: 20px !important;
  }
  .arrow-right1{
    right: 20px !important;
  }
  .arrow-btn1{
    margin-top: 20px;
  }
}
@media (max-width:375px) {
  .offer-overlay h5,p{
    font-size: 14px !important;
  }
  
}
.offer-card {
  height: 200px;
  border-radius: 7px;
  position: relative;
  overflow: hidden;
}
.offer-full-img {
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease-in-out;
}
.offer-card:hover .offer-full-img {
  transform: scale(1.09);
}
.offer-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  width: 100%;
  height: 100%;
  color: #0e0808;
}
.offer-btn {
  background: #ff5779;
  border: none;
  padding: 6px 15px;
  border-radius: 8px;
  font-weight: 600;
  margin-top: 30px;
}
.offer-btn:hover {
  background: #e53863;
}
.scroll-wrapper1 {
  width: 100%;
  position: relative;
}

.scroll-card1 {
  overflow-x: auto;
  display: flex;
  gap: 20px;
  scroll-behavior: smooth;
  padding-bottom: 10px;
}
.scroll-card1::-webkit-scrollbar {
  display: none;
}
.arrow-btn1 {
  position: absolute;
  top: 53%;
  transform: translateY(-50%);
  background: white;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.arrow-left1 {
  left: 83px;
}
.arrow-right1 {
  right: 83px;
}
.scroll-wrapper1::before,
.scroll-wrapper1::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 80px;
  z-index: 5;
  pointer-events: none;
}
.scroll-wrapper1::before {
  left: 0;
  background: linear-gradient(to right, #f9faf9, rgba(249,250,249,0));
}
.scroll-wrapper1::after {
  right: 0;
  background: linear-gradient(to left, #f9faf9, rgba(249,250,249,0));
}
@media (max-width: 425px) {
  .scroll-card1 {
    scroll-snap-type: x mandatory;
  }
  .offer-card{
    /* min-width: 380px !important; */
  }
  .arrow-left1 {
  left: 3px !important;
}
.arrow-right1 {
  right: 2px !important;
}
  .offer-card {
    scroll-snap-align: start;
  }
  .scroll-wrapper1::after{
    background: none;
  }
  .scroll-wrapper1::before{
    background: none;
  }
}
@media (max-width:375px){
  .arrow-left1{
left: 1px !important;
  }
  .arrow-right1{
    right: 1px !important;
  }
  .arrow-btn1{
    margin-top: 45px !important;
  }
  
}