.offer-card {
  min-width: 470px;
  height: 200px;
  margin-right: 20px;
  border-radius: 10px;
  position: relative;
}
.Referrel{
    background-color: #f9faf9;
    width: 100%;
    height: 380px;
    font-family: inherit;
}
.offer-full-img {
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease-in-out;
}
.offer-card:hover .offer-full-img {
  transform: scale(1.09); 
}
.offer-overlay {
  position: absolute;
  bottom: 1px;
  left: 0;
  padding: 20px;
  color: #0e0808;
  width: 100%;
  height:100%;
}
.offer-btn {
  background: #ff5779 ;
  border: none;
  padding: 6px 15px;
  border-radius: 8px;
  font-weight: 600;
  margin-top: 38px;
}
.offer-btn:hover{
  background:#e53863 ;
}
.scroll-wrapper1 {
  width: 100%;
}
.scroll-card1 {
  overflow-x: auto;   
  scroll-behavior: smooth;
}
.scroll-card1::-webkit-scrollbar {
  display: none;
}
.arrow-btn1 {
  position: absolute;
  top: 60%;
  z-index: 10;
  transform: translateY(-50%);
  background: white;
  border: none;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
}
.arrow-left1 {
    left:83px; 
}
.arrow-right1 {
  right: 83px;
}
.scroll-wrapper1::before,
.scroll-wrapper1::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 80px;
  z-index: 5;
  pointer-events: none;
}
.scroll-wrapper1::before {
  left: 0;
  background: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0));
}
.scroll-wrapper1::after {
  right: 0;
  background: linear-gradient(to left, rgba(255,255,255,1), rgba(255,255,255,0));
}
