.container{
    font-family: inherit;
}
.steps-row {
    margin-top: 30px;
    gap: 10px;
}
.step-num {
    width: 45px;
    height: 45px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #ddd;
    font-weight: 600;
    font-size: 18px;
    margin-top: 60px;
    left: -22px;
}
.step-box {
    border: 1px solid #eee;
    padding: 20px 45px;
    border-radius: 12px;
    width: 350px;
    background: #fff;
    height:175px;
}
.icon {
    width: 50px;
    margin-bottom: 10px;
}
/* Mobile Responsive */
 @media(max-width: 768px){ 
    .steps-row {
        flex-direction: column;
        gap: 30px;
    }

    .arrow1 {
        display: none;
    }
} 
