.booknow{
    width: 100% !important;
    /* background-color: white; */
    font-family: inherit;
}

.floating-label.error input {
  border: 1.5px solid #e53935 !important;
}
.floating-label.error label {
  color: #e53935 !important;
}
.floating-label.error .code-input {
  border: 1.5px solid #e53935 !important;
}
.floating-label input:focus {
  border-color: #ed3a56;
}



