.Nav{
    background-image:url(./../assets/bg1/bg1.jpeg);
    height: 450px;
    width: 100%;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    /* position: absolute; */
}
.header{
    justify-items: center;
}
 .country{
    background-color:hsla(0, 0%, 76%, .5);
    color: white;
    border: none;
    font-size: 12px;
    height:30px;   
  }
  .recent{
    max-height:50px;
    overflow-x: hidden; 
    width: 685px;
  }
  
  .bg{
    background-color:rgba(0, 0, 0, 0.15);
    height: 32px;
    padding: 2px;
   font-size: 15px;
    border-radius: 4px;
}
 @media(max-width:480px){
    .header h2{
        font-size: 35px !important;
    }
    .Student h2{
        font-size: 14px !important;
        text-align: center !important;   
    }
  
}  
.Navbar2, .NavBar2.sticky-top {
  background-color: transparent !important;
  box-shadow: none; /* remove shadow if any */
}
