.footer-link {
  color: #6c757d;
  font-size: 14px;
  cursor: pointer;
}

.footer-link:hover {
  color: #e5002c;
  font-weight: 500;
}
.border1{
    border: 1px solid #e5e7eb;
}
@media (max-width:768px){
    .border1{
        width:250px !important;
    }
}
@media (max-width:425px){
    .Footer{
        padding: 20px 1px !important;
    }
    .border1{
        width: 394px !important;
    }
}
@media(max-width:414px){
    .border1{
        width: 390px !important;
    }
}
@media(max-width:375px){
    .border1{
        width: 330px  !important;
    }
}
@media(min-width:320px) and (max-width:349px){
    .getapp{
        width:250px !important;
    }
    .border1{
        width: 295px !important;
    }
}
.transition {
    transform: transform 0.5s ease-in-out;
}
.transition:hover{
    transform: scale(1.1);
}