
@media (max-width: 1024px) {
  .needhelp-cards .card {
    height: 150px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .needhelp-cards .badge {
    top: -12px !important;
  }
  .needhelp-cards p {
    font-size: 13px !important;
    margin-top: 8px !important;
  }
  .needhelp-cards svg {
    width: 26px !important;
    height: 26px !important;
  }
}

@media (max-width: 768px) {
  .needhelp-row {
    text-align: center;
  }

  .needhelp-cards {
    margin-top: 20px;
  }

  .needhelp-cards .col-md-3 {
    width: 50%;
    margin-bottom: 20px;
  }

  .needhelp-cards .card {
    padding: 20px !important;
  }

  .needhelp-cards p {
    font-size: 12px !important;
  }

  .needhelp-cards svg {
    width: 24px !important;
    height: 24px !important;
  }

  .needhelp-cards .badge {
    font-size: 10px !important;
    padding: 2px 6px !important;
  }
}
@media (max-width: 320px) {
  .needhelp-cards .card {
    height: 120px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .needhelp-cards .badge {
    font-size: 8px !important;
    padding: 2px 5px !important;
    top: -10px !important;
  }

  .needhelp-cards svg {
    width: 22px !important;
    height: 22px !important;
  }

  .needhelp-cards p {
    margin-top: 6px !important;
    font-size: 11px !important;
  }
}
.badge-livechat {
  background-color: #ed3a56 !important;
  color: white !important;
}

.badge-whatsapp {
  background-color: #31c48d !important;
  color: white !important;
}
