.partner-section {
  padding: 40px 50px;
}

.partner-card {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  overflow: hidden;
  background: #fff;
  height: 210px;
  width: 100%;
  position: relative;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/* Image Box inside card */
.partner-img-box {
  width: 100%;
  height: 210px;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}
.partner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}
.partner-card:hover .partner-image {
  transform: scale(1.1);
  border-radius: 10px;
}
.partner-text {
  padding: 20px;
  position: absolute;
}
.partner-btn {
  background: #fff !important;
  color: #000 !important;
  border-radius: 8px;
  border: none;
  padding: 8px 20px;
  font-weight: 500;
  position: absolute;
}
/* Responsive */
@media (max-width: 768px) {
  .partner-card,
  .partner-card.reverse {
    flex-direction: column;
    text-align: center;
  }
  .partner-card{
    width: 340px !important;
  }
  .partner-section{
    padding: 20px 10px;
  }
  .partner-text{
    height:200px
  }
.partner-text p{
font-size: 15px !important;
}
.partner-btn{
  width: 155px;
  margin-right: 20px;
  position: relative;
}
  .partner-img-box,
  .partner-text {
    width: 100%;
  }
  .partner-btn1{
    margin-top: 23px !important;
  }
  .partner-img-box {
    height: 230px;
  }
}

@media (max-width:425px){
  .partner-card{
    height: 210px;
    width:400px !important ;
  }
  .partner-section{
    padding: 40px 0px;
  }
}
@media (max-width:375px){
.partner-text p{
font-size: 13px !important;
}
.partner-btn1{
    margin-top: 10px !important;
  }
  .partner-card{
    height: 180px;
    width:350px !important ;
  }
  .partner-section{
    padding: 40px 0px;
  }
}
@media (max-width:350px){
  .partner-text p{
font-size: 12px !important;
}
.partner-btn1{
    margin-top: 1px !important;
  }
.partner-img-box{
  height: 250px;
}
  .partner-card{
    height: 180px;
    width:295px !important;
  }
  .partner-section{
    padding:20px 25px;
  }
  .row1{
    padding-left: 1px !important;
  }
}