.icon-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Small screen (mobile) ku img + h3 same row */
@media (max-width: 576px) {
  .icon-title {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .icon-title p {
    text-align: center;
    margin-top: 8px;
  }
}
