.icon-title {
  display: flex;
  flex-direction: column;
}
@media (max-width: 576px) {
  .icon-title {
    flex-direction: column;  
    text-align: center;
  }
  .icon-title h3{
    margin-top: 20px !important;
    margin-left: 15px;
  }
  .icon-title .top-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .icon-title p {
    margin-top: 10px;
    width: 100%;
    text-align: left;
  }
}
.row{
  padding-right:none !important;
}
