.thousand {
  padding: 48px 80px;
  font-family: inherit;
}
.properties {
  font-size: 24px;
  font-weight: 700;
}
.studio {
  font-size: 15px;
  color: #555;
}
.drop {
  padding: 10px 20px;
  border: 1px solid #ed3a56;
  background-color: #fff3f9;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
  color: #ed3a56;
  font-size: 14px;
}
.drop-content {
  top: 50px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  min-width: 250px;
  z-index: 1000; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.drop-item {
  padding: 10px 15px;
  cursor: pointer;
  transition: background 0.3s;
  font-weight: 400;
  font-size: 13px;
  width:93%;
  border-radius: 5px; 
}
.dropdown-item:hover {
  background-color: #f2f2f2;
}
.drop-item.active {
  background-color: #f2f2f2;
}
.check-icon {
  color: black; 
  font-size: 18px;
}
.city-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.city-btn {
  padding: 10px 20px;
  border: 1px solid rgb(241, 236, 236);
  border-radius: 25px;
  background-color: #fff;
  cursor: pointer;
  color: #6b7280;
  font-size: 15px;
}
.city-btn.active{
    color: #ed3a56;
    border: 1px solid  #d10f0f;
    background-color: #fff3f9;
    font-weight: 500;
}
.country-info {
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.country-info .flag {
  width: 24px;
  height: 24px;
  border-radius: 4px;
}
.country-name {
  flex: 1; 
  text-align: left;
}
.vertical-divider1 {
  width: 1px ;
  background-color: #ccc;
  height: 40px; 
}
.dropdown-row {
  gap: 12px;
}
.property-img{
  width:100%;
  height:150px;
  border-top-left-radius:10px ;
  border-top-right-radius:10px ;
  transition: none;
}
.property-img:hover {
  transform: none !important;
}
.property-card{
  min-width: 260px;
}
.border{
  width:238px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border:1px solid;
  background-color: white; 
}
.property-info h4{
  font-size: 14px;
  font-weight: 550;
}
.property-info p{
  font-size: 12px;
}
.Location{
  margin-bottom: 1px !important;
}
.carousalcard{
  height: 150px;
padding: 0%;
}
.carousalcard img{
  width: 238px;
}
.rating{
  margin-left: 20px;
}
.carousel-control-prev,
.carousel-control-next {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.carousalcard:hover .carousel-control-prev,
.carousalcard:hover .carousel-control-next {
  opacity: 1;
}
.carousel-control-next{
  margin-right: 20px;
}
.carousel-indicators [data-bs-target]{
   border-radius: 50%;
   width:8px;
   height: 8px;
} 
.carousel-indicators .active {
  width: 20px;      
  height: 6px;
 border-radius: 20px / 65px;  
}
.wishlist-heart{
  right: 35px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}
@media (max-width: 992px) {
  .property-card {
    width: calc(33.33% - 18px);
  }
}
@media (max-width: 768px) {
  .carousalcard{
    width: 330px;
    /* gap: 120px; */
  }
  .thousand{
    padding: 40px 40px;
  }
  .carousalcard img{
    width: 310px;
  }
  .property-card-section{
    gap: 70px !important;
  }
  .border{
    width: 310px  !important;
  }
  .wishlist-heart{
    left: 255px;
  }
  .drop{
    padding: 2px 25px;
  }
  .city-btn{
    padding: 5px 15px;
    font-size: 13px;
  }
}
@media(max-width:640px){
  .wishlist-heart{
    left: 545px;
  }
  .property-card{
    width:calc(44.33% );
  }
  .thousand{
    padding: 40px 12px;
  }
  .carousalcard{
    width: 610px;
  }
  .carousalcard img{
    width: 610px !important;
  }
  .border{
    width:610px !important ;
  }
}
@media (min-width:560px) and (max-width:639px){
  .wishlist-heart{
    left: 475px;
  }
  .property-card{
    width:calc(44.33% );
  }
  .thousand{
    padding: 40px 14px;
  }
  .carousalcard{
    width: 530px;
  }
  .carousalcard img{
    width: 530px !important;
  }
  .border{
    width:530px !important ;
  }
}
@media(min-width:460px) and (max-width:559px){
  .wishlist-heart{
    left: 340px;
  }
  .thousand{
    padding: 40px 14px;
  }
  .carousalcard{
    width: 430px;
  }
  .carousalcard img{
    width: 430px !important;
  }
  .border{
    width:430px !important ;
  }
  .drop{
    padding: 4px 20px;
  }
  .city-btn{
    padding: 5px 10px;
    font-size: 13px;
  }
}
@media (max-width:459px){
  .wishlist-heart{
    left: 340px;
  }
  .thousand{
    padding: 40px 15px;
  }
  .carousalcard{
    width: 395px;
  }
  .carousalcard img{
    width: 395px !important;
  }
  .border{
    width:395px !important ;
  }
  .drop{
    padding: 2px 20px;
  }
  .city-btn{
    padding: 5px 10px;
    font-size: 13px;
  }
}
@media (min-width:414px) and (max-width:424px){
  .carousalcard img{
    width:388px !important
  }
  .border{
    width: 388px !important;
  }
  .wishlist-heart{
    left: 330px;
  }
  .drop{
    padding: 4px 61px;
  }
  .city-btn{
    padding: 5px 10px;
    font-size: 13px;
  }
}
@media (min-width:361px) and (max-width:413px){
  .carousalcard img{
    width:330px !important
  }
  .border{
    width: 330px !important;
  }
  .wishlist-heart{
    left: 270px;
  }
  .drop{
    padding: 6px 69px;
  }
  .city-btn{
    padding: 5px 10px;
    font-size: 13px;
  }
}
@media(max-width:360px){
  .carousalcard img{
    width:330px !important;
  }
  .border{
    width: 330px !important;
  }
  .wishlist-heart{
    left: 270px;
  }
}
@media(min-width:320px) and (max-width:350px){
  .carousalcard img{
    width:290px !important;
  }
  .border{
    width: 290px !important;
  }
  .wishlist-heart{
    left: 240px;
  }
  .drop{
    padding: 4px 61px;
  }
  .city-btn{
    padding: 5px 10px;
    font-size: 13px;
  }
}