.trust{
   font-family: inherit;
}
.millions{
    width:100%;
    height:330px;
    background:linear-gradient(115.43deg,#bcf0da 21.36%,#e9f9f2 53.12%,#bcf0da 88.67%);
}
.scroll-wrapper {
  width: 100%;
  position: relative;
  /* padding: 20px 0; */
}
.scroll-card {
  scroll-behavior: smooth;
  scrollbar-width: none;
  gap: 20px;
  padding-bottom: 20px;
}
.scroll-card::-webkit-scrollbar {
  display: none;
}
/* Cards */
.trust-card {
  min-width: 320px;
  height: 170px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}
.trust-card p{
  min-height: 50px;
}
.read-btn{
  border: none;
  color:#ed3a56 ;
  background: none;
}
.arrow-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background: white;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0,0,0,0.15);
  cursor: pointer;
}
.arrow-left {
  left: 85px;
}
.arrow-right {
  right: 85px;
}
 .scroll-wrapper::before,
.scroll-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 80px;
  z-index: 5;
  pointer-events: none;
}
.scroll-wrapper::before {
  left: 0;
  background: linear-gradient(to right, #bcf0da, rgba(255,255,255,0));
}
.scroll-wrapper::after {
  right: 0;
  background: linear-gradient(to left, #bcf0da, rgba(255,255,255,0));
}
@media (max-width: 572px) {
  .scroll-wrapper::after {
    background: none;
  }
  .scroll-wrapper::before{
    background: none;
  }
    .trust-card {
    min-width: 90% !important;
    scroll-snap-align: start;
    padding: 20px;
    
  }

  .scroll-card {
  display: flex;
  gap: 45px;
  overflow-x: auto;
  scroll-snap-type: x mandatory; 
  width: 100%;
  margin-top: 20px;
  margin-left: 20px;
}
.mt-sm{
  margin-top: 27px;
}
.arrow-left{
  margin-top: 20px;
  left: 6px;
}
.arrow-right{
  margin-top: 20px;
  right: 6px;
}
  
}


