c.trust{
   font-family: inherit;
}
.millions{
    width:100%;
    height:330px;
    background:linear-gradient(115.43deg,#bcf0da 21.36%,#e9f9f2 53.12%,#bcf0da 88.67%);
}
.scroll-wrapper {
   width: 100%;
  padding: 20px 0;
}
.scroll-card {
  scroll-behavior: smooth;
  scrollbar-width: none;
  gap: 20px;
  padding-bottom: 20px;
}
.scroll-card::-webkit-scrollbar {
  display: none;
}
/* Cards */
.trust-card {
  min-width: 320px;
  height: 170px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}
.trust-card p{
  min-height: 50px;
}
.read-btn{
  border: none;
  color:#ed3a56 ;
  background: none;
}
.arrow-btn {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  z-index: 10;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background: white;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0,0,0,0.15);
  cursor: pointer;
}

.arrow-left {
  left: 85px;
}
.arrow-right {
  right: 85px;
}
.fade-left,
.fade-right {
  content: "";
  position: absolute;
  top:87px;
  width: 127px;
  height: 60%;
  z-index: 5;
  pointer-events: none;
}
.fade-left {
  left: 0;
    background: linear-gradient(90deg,hsla(0,0%,98%,0),hsla(0, 0%, 100%, 0.5) 25%,#bcf0da)

}
.fade-right {
  right: 0;
    background: linear-gradient(270deg,hsla(0, 89%, 15%, 0),hsla(0, 0%, 100%, 0.5) 25%,#bcf0da);

}
