.view-img{
    width: 600px; 
    cursor: pointer; 
}
.view-carousel{
    width: 600px;
}
.view-img img{
    width: 600px;
    height: 350px;
    object-fit: cover;
}
.view-item{
    width: 600px;
}
.enquiry:hover{
    background-color: #fff !important;
}
.Droplist{
    background: radial-gradient(50% 50% at 50% 50%, #ffe5eb 0, hsla(0, 0%, 100%, 0) 100%);;
}
          