.border2{
    border: 1px solid #e5e7eb;
    height: 28px;
    padding: 2px 10px;
    font-size: 12px;
}
.fluid:hover{
      box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px
       rgba(0,0,0,.05);
}