.dropdown,
.dropdown-menu {
  overflow: visible !important;
  z-index: 9999;
}
.form-check-input:checked{
  background-color: #ed3a56;
  border: #ed3a56;
}
.sort{
  border: 1px solid #d1d5db;
  background-color: white;
  height: 33px;
  padding: 5px 15px;
}
.sort:hover{
  border: 1px solid gray;
  background-color: #eeeff1 !important
}
.btn.show{
  background-color: #d1d5db;
}